// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// ===== VARIABLE CSS CLASS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #050718;
$grey-color: #a6a9b8;
$white-color: #ffffff;
$red-color: #ff4040;
$purple-color: #ac00fd;

// font body
$font-body: "Poppins", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-400: 0.4s;

// line-height
$leading-text: 180%;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-reguler;
  background-color: $black-color;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-semibold;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
.section {
  padding: 8rem 0 4rem;

  &-title {
    font-size: 32px;
    font-weight: $font-bold;
    color: $white-color;
    margin-bottom: $margin-1;
  }

  &-text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
  }

  &-bottom {
    margin-bottom: $margin-2;
  }

  &-gradient {
    background: linear-gradient(90deg, $red-color, $purple-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    // border gradient
    padding: 0 0.3rem;
    border: 1.2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, $red-color, $purple-color);
  }
}

.button {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, $red-color, $purple-color);
  border-radius: 8px;
  font-size: 15px;
  font-weight: $font-semibold;
  color: $white-color;
}

.container {
  max-width: 1200px;
  width: calc(100% - 3rem);
  margin: 0 auto;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $black-color;
  z-index: $z-fixed;
  transition: $transition-400;

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: $font-bold;
    color: $white-color;

    &-icon {
      width: 35px;
    }
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: rgba($color: #171820, $alpha: 1);
      border-radius: 8px;
      transition: $transition-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
    }

    // show menu
    &.show-menu {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    position: relative;
    font-size: 15px;
    font-weight: $font-medium;
    color: $grey-color;

    &::after {
      position: absolute;
      content: "";
      top: 1.5rem;
      left: 0;
      width: 0;
      height: 3px;
      background: linear-gradient(90deg, $red-color, $purple-color);
      border-radius: 1rem;
      transition: $transition-400;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__button {
    margin-top: $margin-1-5;
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $white-color;
    cursor: pointer;
  }
}

// ===== HOME SECTION =====
.home {
  &__container {
    gap: 3rem;
  }

  &__data,
  &__img {
    text-align: center;
    justify-self: auto;
  }

  &__tag {
    margin-top: $margin-0-5;
  }
}

// ===== WORKS SECTION =====
.works {
  &__container {
    gap: 3rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.8fr));
    justify-content: center;
    gap: 2rem;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    background-color: #171820;
    border-radius: 8px;

    &-icon {
      width: 45px;
    }

    &-title {
      font-size: 20px;
      font-weight: $font-semibold;
      color: $white-color;
      margin-bottom: $margin-0-5;
    }

    &-text {
      font-size: 15px;
      color: $grey-color;
      line-height: $leading-text;
    }
  }
}
